<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Palto_Cafe.Properties.Settings.Palto_cafeConnectionString"
            connectionString="Data Source=DESKTOP-9PG0VIA;Initial Catalog=Palto_cafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>